<section id="s2-footer">
    <div class="s2-footer-wrap">
        <div class="s2-footer-legal">AC Automobile Schweiz AG unternimmt alle Anstrengungen, um sicherzustellen, dass der Inhalt dieser Website korrekt 
            und aktuell ist, übernimmt jedoch keine Haftung für Ansprüche oder Verluste, die sich aus dem Vertrauen auf den Inhalt der Website ergeben. 
            Einige der auf dieser Website enthaltenen Informationen können aufgrund von Produktänderungen seit der Markteinführung fehlerhaft sein. 
            Einige der beschriebenen oder gezeigten Ausstattungen sind möglicherweise nur in bestimmten Ländern nicht oder nur gegen zusätzliche Kosten
            erhältlich. AC Automobile Schweiz AG behält sich das Recht vor, die Produktspezifikationen jederzeit zu ändern. Die tatsächlichen 
            Produktspezifikationen in Ihrem Land erfahren Sie bei Ihrem Citroën-Händler.
        </div>
        <br>
        THIS VARIABLE IS IN FOOTER SECTION: <%= pageData.newVariable %>
    </div>
</section>
